*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('background.jpg');
}

.bigger{
    font-size: 30px !important;
}

.btn-success:hover{
    background-color: rgb(38, 173, 38);
}

canvas{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 25px;
}

@keyframes example{
    from {box-shadow: 1px 1px 100px rgb(177, 213, 251);}
    to {box-shadow: 1px 1px 500px rgb(15, 74, 212);}
}